<template id="tabdua">
    <ons-page id="Tab2" ng-controller="LoginController as $page">
        <p style="text-align: center;">
        <!-- Login. -->
        </p>
        
        <div ng-hide="tokenExist" style="text-align: center; margin-top: 30px">
            <p>
                <ons-input id="username" modifier="underbar" placeholder="Username" float ng-model="$page.username" value="adminBaru"></ons-input>
            </p>
            <p>
                <ons-input id="password" modifier="underbar" type="password" placeholder="Password" float ng-model="$page.password" value="@dm!n123$"></ons-input>
            </p>
            <p style="margin-top: 30px;">
                <ons-button ng-click="$page.login()">Sign in</ons-button>
            </p>
        </div>
        <div ng-show="tokenExist" style="text-align: center; margin-top: 30px">
            <p style="margin-top: 30px;">
                <ons-button ng-click="$page.logout()">Log out</ons-button>
            </p>
        </div>
    </ons-page>
  </template>
